body {
    font-family: "Open Sans";
    font-size: 22px;
    user-select: none;
}

.catMenu {
    background-image: url(./1642476414_28-abrakadabra-fun-p-kirpich-stena-fon-36.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.menuWrapper {
    background-color: rgba(255, 254, 254, 0.7);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.9);
}

.menuHeader {
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 8px;
}

.menuHeaderBig {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    background: white;
    border-radius: 10px;
}

.button {
    margin-top: 16px;
    padding: 5px;
    border-radius: 5px;
    background: firebrick;
    color: white;
}

.gameField {
    background-color: white;
    width: 90%;
    max-width: 1200px;
    height: 700px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    position: relative;
    background-image: url(./2016-09-29-windows-xp-bliss-l5Eg.jpg);
    background-size: cover;
}
.catSit {
    right: 70px;
    bottom: 100px;
    width: auto;
    height: 300px;
}
.frame0 {
    object-position: 0px 0px;
}
.frame1 {
    object-position: -399px 0px;
}
.frame2 {
    object-position: -798px 0px;
}
.catWrapper {
    width: 400px;
    display: flex;
    position: absolute;
    right: 70px;
    bottom: 100px;
    height: 300px;
    overflow: hidden;
}
.cheese {
    position: absolute;
    right: 30px;
    bottom: 100px;
    width: 70px;
}

.mouse {
    position: absolute;
    left: 30px;
    bottom: 100px;
    width: 70px;
    animation: block 3s infinite linear;
}
@keyframes block {
    0% {
        left: 30px;
    }
    100% {
        left: 100%;
    }
}

.mouse.dead {
    bottom: 75px;
    transform: scale(2, 0.3);
}

.dead {
    transform: scale(1.2, 0.2);
}
.red {
    color: red;
}

.mouse.igor,
.mouse.ratWoman {
    width: 90px;
}

.endTextWrapper {
    /* filter: invert(1); */
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.gameField.loose {
    /* filter: invert(1); */
    background-image: url(./kryski_3.png);
    background-color: black;
}

.endText {
    border-radius: 10px;
    background-color: white;
    padding: 32px;
}

.health {
    border-radius: 10px;
    background-color: white;
    padding: 8px;
}

.faq {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 254, 254, 0.7);
    padding: 32px;
    border-radius: 0 100px 0px 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}
.flex-row.reverse {
    flex-direction: row-reverse;
}

.img-about {
    width: auto;
    height: 100px;
    padding: 0px 20px 0px 20px;
}

.columt-element {
    margin-bottom: 6px;
}

.faqWrapper {
    max-width: 600px;
    overflow-y: scroll;
    max-height: 90%;
}

.center {
    align-content: center;
}

.p{
    margin: 8px 0px;
}